@model IEnumerable<Appointment_system_MVC.Models.Clinic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<body>
    <div class="text-center">
        <!--code to keep the heading in the center-->
        <header>
            <!--z-index codeto display image on the doctordetail page behind the text-->
            <style>
                img {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    z-index: -1;
                    text-align: center;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover
                }
            </style>
        </header>
        <img src="~/img/clinicn.jpg" />

        <!--code for show the image and increse the size of image-->
    </div>
</body>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Clinic Name
            </th>
            <th>
                Clinic Address
            </th>
            <th>
                Clinic Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic_phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
